@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: "Source Sans Pro", sans-serif; */
    z-index: 1;
}

body{
    background-color: #0a3c5e;
}

/* background animation  */

.wrapper span{
    animation: animate 10s linear infinite;
}


.wrapper span:nth-child(1){
    left: 60px;
    animation-delay:0.2s;
    background: #3c94f3;
}

.wrapper span:nth-child(2){
    left: 60%;
    animation-delay: 2s;
    background: #1b7ce3;
}
.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 1s;
    background: #84bbf5;    
}
.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 4s;
    background: #4c8af5;
}
.wrapper span:nth-child(5){
    left: 40%;
    background: #83cdf7;
}
.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 6s;
    background: deepskyblue;
}
.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 4.8s;
    background: #25aedb;
}
.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 7s;
    background:  #1877b8;
}
.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 5s;
    background: cyan;
}
.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 3s;
    background:#54a9e3;    
}
.wrapper span:nth-child(10){
    left: 15%;
    animation-delay: 3.2s;
    background: #54a9e3;    
}

.wrapper span:nth-child(11){
    right: 5%;
    animation-delay: 1s;
    background: #49b8dd;    
}

.wrapper span:nth-child(12){
    right: 8%;
    animation-delay: 6s;
    background: #1d9ec2;
}
.wrapper span:nth-child(13){
    right: 50%;
    animation-delay: 3.5s;
    background: #64b7da;
}

@keyframes animate{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

/* scrollbar styles  */

html::-webkit-scrollbar{
    width : 1.5vh;
}

html::-webkit-scrollbar-thumb{
    background-color: #a6d7f8;
    border-radius: 2px;
}

html::-webkit-scrollbar-track{
    background-color: #1B262C;
}

/* global background color - #0a3c5e  */

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #a6d7f8;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation-hovered:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation-highlight {
    display: inline-block;
    position: relative;
}

.hover-underline-animation-highlight::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #7cfcdf;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation-highlight:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}